* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
body {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.head {
  background-color: antiquewhite;
  padding: 20px 50px;
  display: flex;
  gap: 5px;
  justify-content: center;
  width: 500px;
}
.head input {
  background-color: white;
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
  outline: none;
  flex: 1;
}
.head button {
  padding: 10px 20px;
  background-color: orange;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.main ul {
  margin-top: 50px;
}
ul li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin: 10px;
}
ul li span {
  margin-right: 20px;
}
#todo_txt {
  font-size: 25px;
}
#edit {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;

  background-color: rgb(247, 149, 149);
  font-family: "Gilroy";
  cursor: pointer;
}
#delete {
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: aquamarine;
  cursor: pointer;
}
